<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.app.calificaciones">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.example.app.calificaciones.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.app.calificaciones.add_materiaScreen"
            android:label="New Mat"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
        />

        <activity android:name="com.example.app.calificaciones.CriteriosScreen"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.app.calificaciones.addCriterioScreen"
            android:label="New Crit"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.app.calificaciones.EntregablesScreen"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:label="Lista Entregables"
            android:icon="@drawable/roundedbutton"
            />
        <activity android:name="com.example.app.calificaciones.addEntregableScreen"
            android:label="New Entregable"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.app.calificaciones.editEntregableScreen"
        android:label="Edit Entregable"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait"
        />
        <activity android:name="com.example.app.calificaciones.editMateriaScreen"
            android:label="Edit Entregable"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.example.app.calificaciones.editCriteriosScreen"
            android:label="Edit Entregable"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>